{% extends 'base.html' %}

    <div class="box1">

    {% block content %}

    <div class="content">
      <div class="c-title">
        <h6>Profile</h6>
      </div>
      <div class="c-content">
<p>
  <img src="{{ profile_image }}" class="img-profile"><br><br>
  {{ username }}<br><br>
  {% if hide_email == True %}
  ***********

{% else %}
  {{ email }}<br>
{% endif %}

</p>
      </div>

      <div class="c-pup">
        <span>pup date : 15.09.2020</span>
      </div>
    </div>


    {% endblock %}

    </div>




    {% block arch %}

          <div class="box2">
            <div class="arch">

{% if request.user.is_authenticated %}

              <div class="arch-title">
                <span>Friend ( {{friends|length}} )</span>
              </div>

    {% if friend_requests %}

                  <div class="arch-title">
                    <a href="{% url 'friend:friend-requests' user_id=user.id %}"><span>Friend Requests ({{ friend_requests|length }})</span></a>

                  </div>

    {% endif %}



{% if is_friend == False and is_self == False %}
  {% if request_sent == 1 %}
              <div class="arch-title">

                <button type="button" class="btn btn-outline-danger" id="id_cancel_friend_request_btn">Cancel Firend Request</button>
              </div>
  {% endif %}
  {% if request_sent == -1 %}
              <div class="arch-title">
                  <button type="button" class="btn btn-outline-success" id="id_send_friend_request_btn">Send Friend Request</button>
              </div>
  {% endif %}
{% endif %}



  {% if request_sent == 0 %}
              <div class="arch-title">
                <button type="button" class="btn btn-outline-success">Accept</button>
                <button type="button" class="btn btn-outline-danger">Cancel</button>
                <span>Decline</span>
              </div>
  {% endif %}







  {% if is_friend %}


  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Friend
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#" onclick="removeFriend('{{id}}', onFriendRemoved)">Unfriend</a>
    </div>
  </div>


  {% endif %}


{% endif %}



            </div>
          </div>

<script type="text/javascript">


	function onFriendRequestSent(){
		location.reload();
	}

	function onFriendRequestCancelled(){
		location.reload();
	}

	function onFriendRemoved(){
		location.reload();
	}

	function onFriendRequestAccepted(){
		location.reload();
	}

	function onFriendRequestDeclined(){
		location.reload();
	}


	var sendFriendRequestBtn = document.getElementById("id_send_friend_request_btn")
	if (sendFriendRequestBtn != null){
		sendFriendRequestBtn.addEventListener("click", function(){
			sendFriendRequest("{{id}}", onFriendRequestSent)
		})
	}

	var cancelFriendRequestBtn = document.getElementById("id_cancel_friend_request_btn")
	if(cancelFriendRequestBtn != null){
		cancelFriendRequestBtn.addEventListener("click", function(){
			cancelFriendRequest("{{id}}", onFriendRequestCancelled)
		})
	}

	var removeFriendBtn = document.getElementById("id_unfriend_btn")
	if (removeFriendBtn != null){
		removeFriendBtn.addEventListener("click", function(){
			removeFriend("{{id}}", onFriendRemoved)
		})
	}

	function triggerAcceptFriendRequest(friend_request_id){
		// acceptFriendRequest(friend_request_id, onFriendRequestAccepted)
	}

	function triggerDeclineFriendRequest(friend_request_id){
		declineFriendRequest(friend_request_id, onFriendRequestDeclined)
	}

</script>


{% include 'friend/snippets/send_friend_request.html' %}
{% include 'friend/snippets/remove_friend.html' %}
{% include 'friend/snippets/decline_friend_request.html' %}
{% include 'friend/snippets/cancel_friend_request.html' %}

    {% endblock %}
